<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding: 0px;">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="text-align: center;">
      <img src="../../assets/images/LIC.png" />
    </div>
    <ion-card-content>
      <ion-card-title>
        St.Jude's Financial Services
      </ion-card-title>
      <p>
        41 A, Pereira Street, Near Matha Koil, Thoothukudi, Tamil Nadu 628001
      </p>
      <p>licjude@gmail.com</p>
      <a href="wa.me/919443688047">
        <p>+919443688047</p>
      </a>
    </ion-card-content>
  </ion-card>
  <!-- <ion-button color="primary" (click)="addPolicy()"> Add Policy</ion-button> -->
  <!-- <ion-button color="primary" (click)="getPolicies()"> Get Policy</ion-button> -->
</ion-content>